<footer>
    <div class="container">
        <div class="row">
            <h4 style="text-align: center;margin-top: 10px; margin-bottom: 30px;">Liên hệ ngay</h4>
            <div class="col-md-2 col-sm-6">
                <div class="schedule-box">
                    <p>19 Lê Thánh Tôn, Quy Nhơn</p>
                    <p>223/23b Tây Sơn, Quy Nhơn</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="schedule-box">
                    <p>letrongcong11062003.com</p>
                    <p>www.cnshop.com</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="schedule-box">
                    <p>TikTok</p>
                    <a style="text-decoration: none;" href="https://www.tiktok.com/@cong_110623">
                        www.tiktok.com
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="schedule-box">
                    <p>Facebook</p>
                    <a style="text-decoration: none;" href="https://www.facebook.com/letrong.cong.37/">
                        www.facebook.com
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="schedule-box">
                    <p>Hotline</p>
                    <p>0586 222 224</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="schedule-box">
                    <p>Zalo</p>
                    <!-- <img style="
                      width: 100px;
                      height: 100px;
                      " src="" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</footer>