/* .navigation-bar{
    background-color: rgba(254, 254, 254, 0.1);
  } */
  
  .menu{
    width: 700px;
  }
  
  .item-link{
    color: #D3D3D3;
  }
  
  .search{
    margin-top: 5px;
  }
  
  input{
    text-align: center;
  }
  
  .list-icon button{
    color: #D3D3D3;
    font-size: 20px;
  }