<section class="feature-policy">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="schedule-box">
                    <i class=" fas fa-solid fa-shield"></i>
                    <h3>Thương hiệu đảm bảo</h3>
                    <p>Nhập khẩu, bảo hành chính hãng</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="schedule-box">
                    <i class="fas fa-right-left"></i>
                    <h3>Đổi trả dễ dàng</h3>
                    <p>Theo chính sách đổi trả tại CN Shop</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="schedule-box">
                    <i class="fas fa-medal"></i>
                    <h3>Sản phẩm chất lượng</h3>
                    <p>Đảm bảo tương thích và độ bền cao</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="schedule-box">
                    <i class="fas fa-car"></i>
                    <h3>Giao hàng tận nơi</h3>
                    <p>Tại 63 tỉnh thành</p>
                </div>
            </div>
        </div>
    </div>
</section>